extends layout

block content
  div.background
    div.center
      div.vertical-center
        h1.home Colorado Breweries
        a.link(href='/breweries') 
          div.home.button
            |Check out some breweries