extends layout

block content
  include nav.jade
  div.container
    div.row
      div.col-md-4
        h2=title
        include errors.jade
        
        form(action='/breweries/' + breweryId + '/beers/' + beerId + '/taps/new' method='POST')
          div.form-group
            label(for='name') Name
            input.form-control(type='text' name='name' id='name')
          div.form-group
            input.btn.btn-primary(type='submit' value='Add')
            a.cancel(href='#') cancel